#background-video {
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: relative;
  z-index: -9;
}
body {
  background: rgba(148, 109, 109, 0);
  }
  #text {
    background-color: rgba(206, 189, 189, 0);
    color: rgb(250, 236, 236);
    padding: 0.625rem 3.125rem 0.625rem 1.875rem;
    font-size: 0.938rem;
  }
  #game {
    width: 40vw;
    height: 20vh;
    color: #912121;
    padding: 10rem 0.625rem 0.625rem 0.625rem;
    margin-top: 1.875rem;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  } 
  #background-game {
    width: 50vw;
    height: 50vh;
    object-fit: cover;
    position: relative;
    left: 20.650rem;
    right: 0;
    top: 8.75rem;
    bottom: 0;
    z-index: -8;
  }
  #controls, #stats {
    color: #0a0a23;
    padding: 0.313rem;
  }
  #stats {
    text-align: center;
  }
  #xpText {
    color: aquamarine;
  }
  #levelText {
    color: azure;
  }
  #healthBar {
    background-color: rgb(29, 192, 29);
    z-index: -2;
  }
  #healthText {
    color: crimson;
  }
  #maxHealthText {
    color: crimson;
  }
  #goldText {
    color: rgb(250, 196, 58);
  }
  #potions {
    width: 0.938rem;
    height: 0.938rem;
    position: relative;
    top: 0.125rem;
  }
  #gold {
    width: 1.125rem;
    height: 1.125rem;
    position: relative;
    top: 0.125rem;
  }
  #bagText {
    color: chartreuse;
    outline: #0a0a23;
  }
  #monsterStats {
    display: none;
    padding: 0.313rem;
    color: #ffffff;
    background: #b40b0be3;
    position: fixed;
    left: 36%;
    right: 36%;
    top: 36.25rem;
  }
  .stat {
    padding-right: 0.625rem;
  }
  button {
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 0.188rem solid #feac32;
    text-align: center;
    display: inline-block;
    font-size: 0.75rem;
  }
  #controls {
    width: 26.25rem;
    height: 2.188rem;
    text-align: center;
    position: relative;
    left: 1.875rem;
    padding:0.625rem 2.5rem 0.625rem 0;
  }
  #button4 {
    display: none;
  }
  #slimeImage {
    max-width: 7.5rem;
    min-width: 4.375rem;
    max-height: 10.625rem;
    min-height: 7.5rem;
    position: absolute;
    top: 23.75rem;
    left: 38.75rem;
    display: none;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  #beastImage {
    max-width: 120px;
    min-width: 80px;
    max-height: 170px;
    min-height: 130px;
    margin-left: auto;
    margin-right: auto;
    position: static;
    top: 200px;
    left: 620px;
    display: none;
  }
  #hydraImage {
    width: 90%;
    height: 60%;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    position: static;
    top: 200px;
    left: 150px;
    
    display: none;
  }
  #mimicImage {
    width: 200px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    position: static;
    top: 190px;
    left: 580px;
    display: none;
  }
  #pic {
    top: 20px;
  }
  #relics {
    top: 40px;
    left: 20px;
    position: absolute;
    top: 2px;
  }
  #relic {
    top: 40px;
    max-width: 100px;
    max-height: 80px;
  }
  #openbackpack {
    top: 40px;
    width: 90%;
    height: 90%;
    left: 5%;
    position: absolute;
    background-image: url('media/binside.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
  }
  #close-backpack {
    position: absolute;
    right: 2%;
    bottom: 2%;
  }
  
 /* #text{
    animation: glitch 1s linear infinite;
  }
  
  @keyframes glitch{
    2%,64%{
      transform: translate(5px,6px) skew(0deg);
    }
    4%,60%{
      transform: translate(-5px,-6px) skew(0deg);
    }
    10%,75%{
      transform: translate(7px,7px) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(20deg); 
    }
  }
  
  #text:before,
  #text:after{
    content: attr(title);
    position: absolute;
    left: 0px;
    right: auto;
  }
  
  #text:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 70% 10%, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  @keyframes glitchTop{
    2%,64%{
      transform: translate(4px,-4px);
    }
    4%,60%{
      transform: translate(-4px,4px);
    }
    62%{
      transform: translate(26px,-2px) skew(-26deg); 
    }
  }
  
  #text:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-4px,0px);
    }
    4%,60%{
      transform: translate(-4px,0);
    }
    62%{
      transform: translate(-44px,10px) skew(42deg); 
    }
  } */
